# Cardio Good Fitness
 Cardio Good Fitness is a retail store and this data is  of customers who brought various treadmill models.

The market research team at AdRight is assigned the task to identify the profile of the typical customer for each treadmill product offered by CardioGood Fitness. The market research team decides to investigate whether there are differences across the product lines with respect to customer characteristics. The team decides to collect data on individuals who purchased a treadmill at a CardioGoodFitness retail store during the prior three months. The data are stored in the CardioGoodFitness.csv file. The team identifies the following customer variables to study: product purchased, TM195, TM498, or TM798; gender; age, in years;education, in years; relationship status, single or partnered; annual household income ($); average number of times the customer plans to use the treadmill each week; average number of miles the customer expects to walk/run each week; and self-rated fitness on an 1-to-5 scale, where 1 is poor shape and 5 is excellent shape. Perform descriptive analytics to create a customer profile for each CardioGood Fitness treadmill product line.

**Dataset Information** :


 cardiogoodfitness.csv: The csv contains data related to customers who have purchased different model from Cardio Good Fitness  :
- Product - the model no. of the treadmill
- Age - in no of years, of the customer
- Gender - of the customer
- Education - in no. of years, of the customer
- Marital Status - of the customer
- Usage - Avg. # times the customer wants to use the treadmill every week
- Fitness - Self rated fitness score of the customer (5 - very fit, 1 - very unfit)
- Income - of the customer
- Miles- expected to run

**Objective**
- Come up with a customer profile (characteristics of a customer) of the different products
- Based on the data we have to generate a set of insights and recommendations that will help the company in targetting new customers

**Questions to be answered**
 
 - How many models does store have?
 - Which is most sold Model?
 - Are Male customers buying treadmill more than female customers?
 - What is the Income ,Age , Education of people buying treadmill.?
 - How many days and miles customer expect to run on treadmill?
 - What is the self rated fitness of customers buying treadmill.?
 - Are married customer buying Treadmill more than Single customers?
 - Is there any relation between Income and model.?
 - Is there any relation between Age and model ?
 - Is there any relation between self rated fitness and model .?
 - Is there any relation between education and model.?
 - Does gender has any effect on model customer buy .?
 - Does Martial status has any effect model customer buy.? 
 - Is there different age groups buying different models.?
 - Relation between Age, Income and education and model bought ?

# Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv('CardioGoodFitness.csv')
data

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [5]:
data.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

**Observation:** 
-  Age of customer using treadmill is between range 18 - 50 . Average age is 28.78 and median is 26.
- Maximum income of treadmill user is 100K ,  Average income approx. 54K ,while median is is approx. 51K.
- Expected Treadmill  usage is atleast Once a week , maximum is 7 times a week and on Average 3 times a week
- Customer  education is between 12 -21 years, with average and median of 16 years and maximum of 21 years
- Customer expects to runs on an average of 103.19 miles per week, median 94 miles per week.
- Average self rated fitness is 3.

In [11]:
# summary of sorted unique values per column
for col in data.columns:
    print('{} : {}'.format(col,sorted(data[col].unique())))

Product : ['TM195', 'TM498', 'TM798']
Age : [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50]
Gender : ['Female', 'Male']
Education : [12, 13, 14, 15, 16, 18, 20, 21]
MaritalStatus : ['Partnered', 'Single']
Usage : [2, 3, 4, 5, 6, 7]
Fitness : [1, 2, 3, 4, 5]
Income : [29562, 30699, 31836, 32973, 34110, 35247, 36384, 37521, 38658, 39795, 40932, 42069, 43206, 44343, 45480, 46617, 47754, 48556, 48658, 48891, 49801, 50028, 51165, 52290, 52291, 52302, 53439, 53536, 54576, 54781, 55713, 56850, 57271, 57987, 58516, 59124, 60261, 61006, 61398, 62251, 62535, 64741, 64809, 65220, 67083, 68220, 69721, 70966, 74701, 75946, 77191, 83416, 85906, 88396, 89641, 90886, 92131, 95508, 95866, 99601, 103336, 104581]
Miles : [21, 38, 42, 47, 53, 56, 64, 66, 74, 75, 80, 85, 94, 95, 100, 103, 106, 112, 113, 120, 127, 132, 140, 141, 150, 160, 169, 170, 180, 188, 200, 212, 240, 260, 280, 300, 360]

- It can be observed that there isn't any weird values or null values from the summary of the unique values per column function

## Data Preprocessing

In [13]:
# type convertion
category = ['Product', 'Gender', 'MaritalStatus']
for cat in category:
    data[cat] = data[cat].astype("category")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    category
 1   Age            180 non-null    int64
 2   Gender         180 non-null    category
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    category
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: category(3), int64(6)
memory usage: 9.4 KB

In [15]:
#check for null values
data.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

In [19]:
#check for duplicated records (choose any of the codes below to find)
data.duplicated().any()
data.duplicated().sum()

0

## How many models does store have?

In [14]:
data.Product.unique()

['TM195', 'TM498', 'TM798']
Categories (3, object): ['TM195', 'TM498', 'TM798']

- Ans: there are only 3 models in store

## Which is most sold Model?

In [20]:
data.Product.value_counts()

TM195    80
TM498    60
TM798    40
Name: Product, dtype: int64

- Ans: TM195 is the most sold

## Are Male customers buying treadmill more than female customers?

In [21]:
data.Gender.value_counts()

Male      104
Female     76
Name: Gender, dtype: int64

- Ans: Yes more males are buying treadmill more than female customers

## Are married people buying the treadmill more than single users?

In [22]:
data.MaritalStatus.value_counts()

Partnered    107
Single        73
Name: MaritalStatus, dtype: int64

- Ans: It's observed that married users purchased more than single users

## What is the Income ,Age , Education of people buying treadmill.?

In [24]:
# descriptive stats of product TM195
data[data['Product'] == 'TM195'].describe().T

,count,mean,std,min,25%,50%,75%,max
Age,80.0,28.5500,7.221452,18.0,23.0,26.0,33.0,50.0
Education,80.0,15.0375,1.216383,12.0,14.0,16.0,16.0,18.0
Usage,80.0,3.0875,0.782624,2.0,3.0,3.0,4.0,5.0
Fitness,80.0,2.9625,0.664540,1.0,3.0,3.0,3.0,5.0
Income,80.0,46418.0250,9075.783190,29562.0,38658.0,46617.0,53439.0,68220.0
Miles,80.0,82.7875,28.874102,38.0,66.0,85.0,94.0,188.0

**Observation**
- 80 people bought model TM195
- For age, the average is 28, median is 26 and mode is 50
- For education the average is 15 and median is 16 and mode is 18
- Average usage per week is 3
- For fitness the average is 3 median is 3 and mode is 5
- For income the average is 46k
- For miles the average is 82 per week and median of 85

In [26]:
# descriptive stats of product TM498
data[data['Product'] == 'TM498'].describe().T

,count,mean,std,min,25%,50%,75%,max
Age,60.0,28.900000,6.645248,19.0,24.0,26.0,33.25,48.0
Education,60.0,15.116667,1.222552,12.0,14.0,16.0,16.00,18.0
Usage,60.0,3.066667,0.799717,2.0,3.0,3.0,3.25,5.0
Fitness,60.0,2.900000,0.629770,1.0,3.0,3.0,3.00,4.0
Income,60.0,48973.650000,8653.989388,31836.0,44911.5,49459.5,53439.00,67083.0
Miles,60.0,87.933333,33.263135,21.0,64.0,85.0,106.00,212.0

**Observation**
- 60 people bought model TM498
- For age, the average is 28, median is 26 and mode is 48
- For education the average is 15 and median is 16 and mode is 18
- Average usage per week is 3
- For fitness the average is 3 median is 3 and mode is 4
- For income the average is 48k
- For miles the average is 87 per week and median of 85

In [28]:
# descriptive stats of product TM798
data[data['Product'] == 'TM798'].describe().T

,count,mean,std,min,25%,50%,75%,max
Age,40.0,29.100,6.971738,22.0,24.75,27.0,30.25,48.0
Education,40.0,17.325,1.639066,14.0,16.00,18.0,18.00,21.0
Usage,40.0,4.775,0.946993,3.0,4.00,5.0,5.00,7.0
Fitness,40.0,4.625,0.667467,3.0,4.00,5.0,5.00,5.0
Income,40.0,75441.575,18505.836720,48556.0,58204.75,76568.5,90886.00,104581.0
Miles,40.0,166.900,60.066544,80.0,120.00,160.0,200.00,360.0

**Observation**
- 40 people bought model TM798
- For age, the average is 29, median is 27 and mode is 48
- For education the average is 17 and median is 18 and mode is 21
- Average usage per week is 4
- For fitness the average is 4 median is 5 and mode is 5
- For income the average is 75k
- For miles the average is 166 per week and median of 160

##   Is there any relation between Income and model.?

In [32]:
df_corr = data.copy()

In [36]:
dcor = pd.get_dummies(data['Product'])

In [ ]:
dcorr = data.concat(dcor)

In [ ]:
dcorr